@model IEnumerable<HotelBookingSystem.MVC.ViewModels.HotelViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All hotels</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("See Branches", "HotelBranches", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
